<!-- student update form -->
<html>
<head>
    <title>Update Student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- update student on form submit -->
    <script>
        $(document).ready(function(){
            $("#updatestudent").submit(function(event){
                event.preventDefault();
                var student = {
                    name: $("#name").val(),
                    email: $("#email").val(),
                    class: $("#class").val(),
                    semester: $("#semester").val()
                }
                $.ajax({
                    url: "/students/<%= student._id %>",
                    type: "PUT",
                    data: student,
                    success: function(result){
                        window.location.href = "/students";
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h3>Update Student</h3>
    <form id="updatestudent">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="<%= student.name %>">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="<%= student.email %>">
        <label for="class">Class</label>
        <input type="text" id="class" name="class" value="<%= student.class %>">
        <label for="semester">Semester</label>
        <input type="text" id="semester" name="semester" value="<%= student.semester %>">
        <input type="submit" value="Update">
    </form>
</body>
</html>